<a href="https://colab.research.google.com/github/FadyD123/Machine-Learning-Algorithms/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd

prenoms = {'liz','bob','bill','eve'}
ages = pd.Series([25 , 30 , 35 , 40],index = prenoms)
tailles = pd.Series([160 , 175 , 170 , 180],index = prenoms)
sexes = pd.Series(list('fhhf'),index = prenoms)
df = pd.DataFrame(
    {'age': ages,
     'taille' : tailles,
     'sexe' : sexes})
df
df.index
df.values
df.head(2)
df.tail(2)

     age  taille sexe
eve   35     170    h
bob   40     180    f