<a href="https://colab.research.google.com/github/FadyD123/Machine-Learning-Algorithms/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import pandas as pd

prenoms = {'liz','bob','bill','eve'}
ages = pd.Series([25 , 30 , 35 , 40],index = prenoms)
tailles = pd.Series([160 , 175 , 170 , 180],index = prenoms)
sexes = pd.Series(list('fhhf'),index = prenoms)
df = pd.DataFrame(
    {'age': ages,
     'taille' : tailles,
     'sexe' : sexes})
df
df.index
df.values
df.head(2)
df.tail(2)
df.describe()
df
df.loc['liz']
df.loc['liz','age']
df.loc[:,'taille']
df.loc[df.loc[:,'age']<32]
df
df = df.reset_index()
df = df.rename(columns = {'index': 'prenom'})
df = df.set_index('age')
df

    prenom  taille sexe
age
25     liz     160    f
30    bill     175    h
35     eve     170    h
40     bob     180    f